@model BugBustersHR.BLL.ViewModels.CompanyViewModel.CompanyVM

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>CompanyVM</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CompanyName" class="control-label"></label>
                <input asp-for="CompanyName" class="form-control" />
                <span asp-validation-for="CompanyName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompanyTitle" class="control-label"></label>
                <input asp-for="CompanyTitle" class="form-control" />
                <span asp-validation-for="CompanyTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MersisNo" class="control-label"></label>
                <input asp-for="MersisNo" class="form-control" />
                <span asp-validation-for="MersisNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TaxNumber" class="control-label"></label>
                <input asp-for="TaxNumber" class="form-control" />
                <span asp-validation-for="TaxNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Logo" class="control-label"></label>
                <input asp-for="Logo" class="form-control" />
                <span asp-validation-for="Logo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TelephoneNumber" class="control-label"></label>
                <input asp-for="TelephoneNumber" class="form-control" />
                <span asp-validation-for="TelephoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmployeeNumber" class="control-label"></label>
                <input asp-for="EmployeeNumber" class="form-control" />
                <span asp-validation-for="EmployeeNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FoundationYear" class="control-label"></label>
                <input asp-for="FoundationYear" class="form-control" />
                <span asp-validation-for="FoundationYear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContractStartDate" class="control-label"></label>
                <input asp-for="ContractStartDate" class="form-control" />
                <span asp-validation-for="ContractStartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContractEndDate" class="control-label"></label>
                <input asp-for="ContractEndDate" class="form-control" />
                <span asp-validation-for="ContractEndDate" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
