@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/assets/css/login.css" rel="stylesheet" />
    <link rel="icon" type="image/x-icon" href="~/assets/img/logo-bugbusters.webp">
    <title>Login Page</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

</head>
<body>
    <div class="scroll-down text-center">
        <h1>BugBustersHR</h1>
        <h5>Please Scroll Down...</h5>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
            <path d="M16 3C8.832031 3 3 8.832031 3 16s5.832031 13 13 13 13-5.832031 13-13S23.167969 3 16 3zm0 2c6.085938 0 11 4.914063 11 11 0 6.085938-4.914062 11-11 11-6.085937 0-11-4.914062-11-11C5 9.914063 9.914063 5 16 5zm-1 4v10.28125l-4-4-1.40625 1.4375L16 23.125l6.40625-6.40625L21 15.28125l-4 4V9z" />
        </svg>
    </div>
    <div class="container"></div>
    <div class="modal">
        <div class="modal-container">
            <div class="modal-left">
                <h1 class="modal-title">Welcome!</h1>
                <p class="modal-desc">Employee Management System has never been more engaging and enjoyable.</p>
                <form id="account" class="justify-content-center" method="post">
                    <div asp-validation-summary="ModelOnly" style="color:darkred" class="text-danger" role="alert"></div>
                    <div class="form-floating">
                        <input asp-for="Input.Email" class="form-control-lg custom-input-length" autocomplete="username" aria-required="true" placeholder="name.surname@bilgeadamboost.com" /><br />
                        <span> </span>
                        <span asp-validation-for="Input.Email" style="color:darkred" class="text-danger mb-3"></span>
                    </div>
                    <div class="password-input-wrapper">
                        <input asp-for="Input.Password" id="Password" type="password" class="form-control-lg custom-input-length password-input" autocomplete="current-password" aria-required="true" placeholder="Password" />
                        <span id="showPassword" onclick="togglePasswordVisibility()" class="fas fa-eye password-toggle-icon"></span>
                        <br />
                        <span asp-validation-for="Input.Password" style="color:darkred" class="text-danger mb-3"></span>
                    </div>
                    <br />
                    <br />
                    <div class="form-group d-flex justify-content-between align-items-center">
                        <div class="form-check d-flex align-items-center">
                            <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                        </div>
                        <button id="login-submit" type="submit" class="custom-btn btn-3"><span>Log in</span></button>
                    </div>
                </form>
                <p class="mt-3">BugBusters &copy; 2023 - All Rights Reserved</p>
            </div>
            <div class="modal-right">
                <img src="https://images.unsplash.com/photo-1512486130939-2c4f79935e4f?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=dfd2ec5a01006fd8c4d7592a381d3776&auto=format&fit=crop&w=1000&q=80" alt="">
            </div>
            <button class="icon-button close-button">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50">
                    <path d="M 25 3 C 12.86158 3 3 12.86158 3 25 C 3 37.13842 12.86158 47 25 47 C 37.13842 47 47 37.13842 47 25 C 47 12.86158 37.13842 3 25 3 z M 25 5 C 36.05754 5 45 13.94246 45 25 C 45 36.05754 36.05754 45 25 45 C 13.94246 45 5 36.05754 5 25 C 5 13.94246 13.94246 5 25 5 z M 16.990234 15.990234 A 1.0001 1.0001 0 0 0 16.292969 17.707031 L 23.585938 25 L 16.292969 32.292969 A 1.0001 1.0001 0 1 0 17.707031 33.707031 L 25 26.414062 L 32.292969 33.707031 A 1.0001 1.0001 0 1 0 33.707031 32.292969 L 26.414062 25 L 33.707031 17.707031 A 1.0001 1.0001 0 0 0 32.980469 15.990234 A 1.0001 1.0001 0 0 0 32.292969 16.292969 L 25 23.585938 L 17.707031 16.292969 A 1.0001 1.0001 0 0 0 16.990234 15.990234 z"></path>
                </svg>
            </button>
        </div>
        <button class="modal-button" style="z-index:-1">Click here to login</button>
    </div>
    <script src="~/assets/js/loginpage.js"></script>
    <script>
        function togglePasswordVisibility() {
            var passwordField = document.getElementById("Password");
            var toggleIcon = document.getElementById("showPassword");
            if (passwordField.type === "password") {
                passwordField.type = "text";
                toggleIcon.className = "fas fa-eye-slash password-toggle-icon"; // Eye-slash icon when password is visible
            } else {
                passwordField.type = "password";
                toggleIcon.className = "fas fa-eye password-toggle-icon"; // Eye icon when password is hidden
            }
        }


    </script>
</body>
</html>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}