@model BugBustersHR.BLL.ViewModels.InstitutionalAllowanceViewModel.InstitutionalAllowanceVM

<body class="g-sidenav-show  bg-gray-200">
    <div class="container-fluid mt-6 px-md-4 d-flex justify-content-end align-items-center">
        <div class="col-10">
            <div class="page-header min-height-300 border-radius-xl" style="background-image: url('https://images.unsplash.com/photo-1531512073830-ba890ca4eba2?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1920&q=80');">
                <span class="mask bg-gradient-secondary opacity-6"></span>
            </div>
        </div>
    </div>
    @*Here goes the content withour Navbar*@

    <div class="container-fluid px-2 px-md-4 d-flex justify-content-end align-items-center mt-n11" style="height: 100vh;">
        <div class="col-10 mt-n11">
            <div class="bg-light card card-body mx-2 mx-md-4 bg-light">
                <div class="col-md-12 d-flex justify-content-center align-items-center">
                    <h2 class="mb-1 mt-4">Corporate Allowance Request</h2>
                </div>
                <div class="card-body">
                    <form asp-controller="InstitutionalAllowance" asp-action="Create" method="post" enctype="multipart/form-data" id="editProfileForm">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="row">
                            <div class="col-md-6">
                                <!-- Column 1 -->
                                <div class="form-group">
                                    <label asp-for="Title" class="control-label"></label>
                                    <input asp-for="Title" class="form-control shadow-sm" />
                                    <span asp-validation-for="Title" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Currency" class="control-label"></label>
                                    <select asp-for="Currency" class="form-control shadow-sm" asp-items="ViewBag.CurrencyList">
                                        <option value="">-- Select --</option>
                                    </select>
                                    <span asp-validation-for="Currency" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <!-- Column 2 -->
                                <div class="form-group">
                                    <label asp-for="AmountOfAllowance" class="control-label"></label>
                                    <input asp-for="AmountOfAllowance" class="form-control shadow-sm" />
                                    <span asp-validation-for="AmountOfAllowance" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="InstitutionalAllowanceTypeId" class="control-label">Expenditure Name</label>
                                    <select asp-for="InstitutionalAllowanceTypeId" class="form-control shadow-sm" asp-items="ViewBag.InstitutionalAllowanceTypeId">
                                        <option value="">-- Select --</option>
                                    </select>
                                    <span asp-validation-for="InstitutionalAllowanceTypeId" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="form-group text-right">
                            <input type="submit" value="Create" class="btn btn-primary" />
                            <a asp-action="Index" class="btn btn-link">Back to List</a>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</body>

@*<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js%22%3E</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js%22%3E</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js%22%3E</script>*@