
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="apple-touch-icon" sizes="76x76" href="~/assets/img/logo-bugbusters.webp">
    <link rel="icon" type="image/png" href="~/assets/img/logo-bugbusters.webp">
    <title>
        BugBusters HumanResources
    </title>
    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900|Roboto+Slab:400,700" />
    <!-- Nucleo Icons -->
    <link href="~/assets/css/nucleo-icons.css" rel="stylesheet" />
    <link href="~/assets/css/nucleo-svg.css" rel="stylesheet" />
    <!-- Font Awesome Icons -->
    <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
    <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <!-- CSS Files -->
    <link id="pagestyle" href="~/assets/css/material-dashboard.css?v=3.0.0" rel="stylesheet" />
    <link href="~/assets/css/material-dashboard.css" rel="stylesheet" />
    <link href="~/assets/css/tablestyle.css" rel="stylesheet" />

    <style>
        body {
            font-family: Arial, sans-serif;
        }

        .container {
            margin: auto;
            width: 80%;
            padding: 20px;
        }

        table {
            border-collapse: collapse;
            width: 100%;
            border: 1px solid #ddd;
        }

        th, td {
            text-align: center;
            padding: 8px;
            border: 1px solid #ddd;
        }

        th {
            background-color: #f2f2f2;
        }

        a {
            text-decoration: none;
        }

        #sidenav-main {
            height: 80%; /* Adjust this value to set the desired height of the sidebar */
            top: 5%; /* This will center the sidebar vertically; adjust as needed */
        }

        /* If you want to ensure the content inside the sidebar fits and is scrollable if needed */
        #sidenav-collapse-main {
            max-height: 80%; /* Adjust as needed */
        }

        .dropdown-menu .dropdown-item:hover {
            font-weight: bold;
        }

        .allowanceToggle:hover {
            font-weight: bold;
        }

        .allowance-wrapper {
            position: relative; /* Set the wrapper as the positioning context */
        }

        .submenu {
            display: none;
            position: absolute;
            right: 100%;
            top: 0;
            background-color: #f9f9f9; /* Background color of the neumorphic design */
            min-width: 160px;
            box-shadow: none;
            margin: 0;
            padding: 0;
            border: none;
            z-index: 1;
        }

        .dropdown-item {
            background-color: #f9f9f9;
            color: #333;
            padding: 10px 20px;
            border: none;
        }

            .dropdown-item:hover {
                background-color: #f9f9f9;
                box-shadow: inset -5px -5px 10px rgba(255, 255, 255, 0.5), inset 5px 5px 10px rgba(0, 0, 0, 0.2);
                font-weight: bold;
            }

    </style>
</head>
<body>
    <div class="class=g-sidenav-show bg-gray-200 body-bg">
        <aside class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-3 bg-gradient-dark" id="sidenav-main">
            <div class="sidenav-header">
                <i class="fas fa-times p-3 cursor-pointer text-white opacity-5 position-absolute end-0 top-0 d-none d-xl-none" aria-hidden="true" id="iconSidenav"></i>
                <a class="navbar-brand m-0" asp-area="Manager" asp-controller="Default" asp-action="Index">
                    <img src="~/assets/img/logo-bugbusters.webp" class="navbar-brand-img h-100" alt="main_logo">
                    <span class="ms-1 font-weight text-white">BugBustersHR</span><br />
                </a>
            </div>
            <hr class="horizontal light mt-0 mb-2">
            <div class="collapse navbar-collapse  w-auto  max-height-vh-100" id="sidenav-collapse-main">
                <ul class="navbar-nav">
                    @*                <li class="nav-item">
                    <a class="nav-link text-white " href="./pages/notifications.html">
                    <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                    <i class="material-icons opacity-10">notifications</i>
                    </div>
                    <span class="nav-link-text ms-1">Notifications</span>
                    </a>
                    </li>*@
                    <li class="nav-item mt-3">
                        <h6 class="ps-4 ms-2 text-uppercase text-sm text-white font-weight-bolder opacity-4">Account</h6>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white " asp-area="Manager" asp-controller="Default" asp-action="Index">
                            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                                <i class="bi bi-person-fill"></i>
                            </div>
                            <span class="nav-link-text ms-1">Profile</span>
                        </a>
                        <hr class="horizontal light mt-1 mb-2">
                    </li>
                    <li class="nav-item mt-3">
                        <h6 class="ps-4 ms-2 text-uppercase text-sm text-white font-weight-bolder opacity-4">Employee</h6>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white " asp-area="Manager" asp-controller="Default" asp-action="CreateEmployee">
                            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                                <i class="bi bi-person-plus-fill"></i>
                            </div>
                            <span class="nav-link-text ms-1">Add Employee</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white " asp-area="Manager" asp-controller="Default" asp-action="GetEmployeeList">
                            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                                <i class="bi bi-person-lines-fill"></i>
                            </div>
                            <span class="nav-link-text ms-1">Employee List</span>
                        </a>
                        <hr class="horizontal light mt-1 mb-2">
                    </li>
                    <li class="nav-item mt-3">
                        <h6 class="ps-4 ms-2 text-uppercase text-sm text-white font-weight-bolder opacity-4">Approval</h6>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white " asp-area="Manager" asp-controller="Confirmation" asp-action="LeaveConfirmation">
                            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                                <i class="bi bi-airplane-fill"></i>
                            </div>
                            <span class="nav-link-text ms-1">Leave List</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white " asp-area="Manager" asp-controller="Expenditure" asp-action="Index">
                            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                                <i class="bi bi-wallet-fill"></i>
                            </div>
                            <span class="nav-link-text ms-1">Expenditure List</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white " asp-area="Manager" asp-controller="Advances" asp-action="Index">
                            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                                <i class="bi bi-cash"></i>
                            </div>
                            <span class="nav-link-text ms-1">Individual Allowance List</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white " asp-area="Manager" asp-controller="Allowance" asp-action="Index">
                            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                                <i class="bi bi-cash-stack"></i>
                            </div>
                            <span class="nav-link-text ms-1">Corporate Allowance List</span>
                        </a>
                    </li>
                </ul>
            </div>
        </aside>
        <div class="modal fade" id="confirmationModal" tabindex="-1" aria-labelledby="confirmationModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="confirmationModalLabel">BugBustersHR</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>Once you log out, there is no way coming back..</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <form asp-area="Identity" asp-controller="Account" asp-action="Login" method="post">
                            <button type="submit" class="btn btn-primary">Confirm Logout</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid mt-1 px-md-4 d-flex justify-content-end align-items-center">
            <div class="col-10">
                <div class="container-fluid d-flex justify-content-end bg-gradient-faded-light border-radius-2xl">
                    <div class="d-flex justify-content-end">
                        <div class="dropdown">
                            <a class="d-flex align-items-center text-decoration-none dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img src="@ViewBag.UserImageUrl" alt="profile_image" class="rounded-circle" style="width: 40px; height: 40px;">
                                <span class="navbar-text ml-2">&nbsp;@ViewBag.UserFullName</span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" style="background:#f9f9f9" aria-labelledby="userDropdown">
                                <a asp-area="Manager" asp-controller="Default" asp-action="Index" class="dropdown-item">Profile</a>
                                <a asp-area="Manager" asp-controller="Confirmation" asp-action="LeaveConfirmation" class="dropdown-item">Leave Options</a>
                                <a asp-area="Manager" asp-controller="Expenditure" asp-action="Index" class="dropdown-item">Expenditure</a>
                                <div class="allowance-wrapper">
                                    <!-- Wrapper -->
                                    <a href="#" class="dropdown-item allowanceToggle">Allowance</a>
                                    <div class="submenu allowanceSubmenu">
                                        <a asp-area="Manager" asp-controller="Advances" asp-action="Index" class="dropdown-item">Individual</a>
                                        <a asp-area="Manager" asp-controller="Allowance" asp-action="Index" class="dropdown-item">Corporate</a>
                                    </div>
                                </div>
                                <a href="#" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#confirmationModal">Logout</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="fixed-plugin">
            <a class="fixed-plugin-button text-dark position-fixed px-3 py-2">
                <i class="material-icons py-2">settings</i>
            </a>
            <div class="card shadow-lg">
                <div class="card-header pb-0 pt-3">
                    <div class="float-start">
                        <h5 class="mt-3 mb-0">UI Configurator</h5>
                        <p>See our dashboard options.</p>
                    </div>
                    <div class="float-end mt-4">
                        <button class="btn btn-link text-dark p-0 fixed-plugin-close-button">
                            <i class="material-icons">clear</i>
                        </button>
                    </div>
                    <!-- End Toggle Button -->
                </div>
                <hr class="horizontal dark my-1">
                <div class="card-body pt-sm-3 pt-0">
                    <!-- Sidenav Type -->
                    <div class="mt-3">
                        <h6 class="mb-0">Sidenav Type</h6>
                        <p class="text-sm">Choose between 2 different sidenav types.</p>
                    </div>
                    <div class="d-flex">
                        <button class="btn bg-gradient-dark px-3 mb-2 active" data-class="bg-gradient-dark" onclick="sidebarType(this)">Dark</button>
                        <button class="btn bg-gradient-dark px-3 mb-2 ms-2" data-class="bg-transparent" onclick="sidebarType(this)">Transparent</button>
                        <button class="btn bg-gradient-dark px-3 mb-2 ms-2" data-class="bg-white" onclick="sidebarType(this)">White</button>
                    </div>
                    <p class="text-sm d-xl-none d-block mt-2">You can change the sidenav type just on desktop view.</p>
                    <!-- Navbar Fixed -->
                    <hr class="horizontal dark my-3">
                    <div class="mt-2 d-flex">
                        <h6 class="mb-0">Light / Dark</h6>
                        <div class="form-check form-switch ps-0 ms-auto my-auto">
                            <input class="form-check-input mt-1 ms-auto" type="checkbox" id="dark-version" onclick="darkMode(this)">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--   Core JS Files   -->
        <script src="~/assets/js/core/popper.min.js"></script>
        <script src="~/assets/js/core/bootstrap.min.js"></script>
        <script src="~/assets/js/plugins/perfect-scrollbar.min.js"></script>
        <script src="~/assets/js/plugins/smooth-scrollbar.min.js"></script>
        <script src="~/assets/js/plugins/chartjs.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script>
            var ctx = document.getElementById("chart-bars").getContext("2d");

            new Chart(ctx, {
                type: "bar",
                data: {
                    labels: ["M", "T", "W", "T", "F", "S", "S"],
                    datasets: [{
                        label: "Sales",
                        tension: 0.4,
                        borderWidth: 0,
                        borderRadius: 4,
                        borderSkipped: false,
                        backgroundColor: "rgba(255, 255, 255, .8)",
                        data: [50, 20, 10, 22, 50, 10, 40],
                        maxBarThickness: 6
                    },],
                },
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    plugins: {
                        legend: {
                            display: false,
                        }
                    },
                    interaction: {
                        intersect: false,
                        mode: 'index',
                    },
                    scales: {
                        y: {
                            grid: {
                                drawBorder: false,
                                display: true,
                                drawOnChartArea: true,
                                drawTicks: false,
                                borderDash: [5, 5],
                                color: 'rgba(255, 255, 255, .2)'
                            },
                            ticks: {
                                suggestedMin: 0,
                                suggestedMax: 500,
                                beginAtZero: true,
                                padding: 10,
                                font: {
                                    size: 14,
                                    weight: 300,
                                    family: "Roboto",
                                    style: 'normal',
                                    lineHeight: 2
                                },
                                color: "#fff"
                            },
                        },
                        x: {
                            grid: {
                                drawBorder: false,
                                display: true,
                                drawOnChartArea: true,
                                drawTicks: false,
                                borderDash: [5, 5],
                                color: 'rgba(255, 255, 255, .2)'
                            },
                            ticks: {
                                display: true,
                                color: '#f8f9fa',
                                padding: 10,
                                font: {
                                    size: 14,
                                    weight: 300,
                                    family: "Roboto",
                                    style: 'normal',
                                    lineHeight: 2
                                },
                            }
                        },
                    },
                },
            });


            var ctx2 = document.getElementById("chart-line").getContext("2d");

            new Chart(ctx2, {
                type: "line",
                data: {
                    labels: ["Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
                    datasets: [{
                        label: "Mobile apps",
                        tension: 0,
                        borderWidth: 0,
                        pointRadius: 5,
                        pointBackgroundColor: "rgba(255, 255, 255, .8)",
                        pointBorderColor: "transparent",
                        borderColor: "rgba(255, 255, 255, .8)",
                        borderColor: "rgba(255, 255, 255, .8)",
                        borderWidth: 4,
                        backgroundColor: "transparent",
                        fill: true,
                        data: [50, 40, 300, 320, 500, 350, 200, 230, 500],
                        maxBarThickness: 6

                    }],
                },
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    plugins: {
                        legend: {
                            display: false,
                        }
                    },
                    interaction: {
                        intersect: false,
                        mode: 'index',
                    },
                    scales: {
                        y: {
                            grid: {
                                drawBorder: false,
                                display: true,
                                drawOnChartArea: true,
                                drawTicks: false,
                                borderDash: [5, 5],
                                color: 'rgba(255, 255, 255, .2)'
                            },
                            ticks: {
                                display: true,
                                color: '#f8f9fa',
                                padding: 10,
                                font: {
                                    size: 14,
                                    weight: 300,
                                    family: "Roboto",
                                    style: 'normal',
                                    lineHeight: 2
                                },
                            }
                        },
                        x: {
                            grid: {
                                drawBorder: false,
                                display: false,
                                drawOnChartArea: false,
                                drawTicks: false,
                                borderDash: [5, 5]
                            },
                            ticks: {
                                display: true,
                                color: '#f8f9fa',
                                padding: 10,
                                font: {
                                    size: 14,
                                    weight: 300,
                                    family: "Roboto",
                                    style: 'normal',
                                    lineHeight: 2
                                },
                            }
                        },
                    },
                },
            });

            var ctx3 = document.getElementById("chart-line-tasks").getContext("2d");

            new Chart(ctx3, {
                type: "line",
                data: {
                    labels: ["Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
                    datasets: [{
                        label: "Mobile apps",
                        tension: 0,
                        borderWidth: 0,
                        pointRadius: 5,
                        pointBackgroundColor: "rgba(255, 255, 255, .8)",
                        pointBorderColor: "transparent",
                        borderColor: "rgba(255, 255, 255, .8)",
                        borderWidth: 4,
                        backgroundColor: "transparent",
                        fill: true,
                        data: [50, 40, 300, 220, 500, 250, 400, 230, 500],
                        maxBarThickness: 6

                    }],
                },
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    plugins: {
                        legend: {
                            display: false,
                        }
                    },
                    interaction: {
                        intersect: false,
                        mode: 'index',
                    },
                    scales: {
                        y: {
                            grid: {
                                drawBorder: false,
                                display: true,
                                drawOnChartArea: true,
                                drawTicks: false,
                                borderDash: [5, 5],
                                color: 'rgba(255, 255, 255, .2)'
                            },
                            ticks: {
                                display: true,
                                padding: 10,
                                color: '#f8f9fa',
                                font: {
                                    size: 14,
                                    weight: 300,
                                    family: "Roboto",
                                    style: 'normal',
                                    lineHeight: 2
                                },
                            }
                        },
                        x: {
                            grid: {
                                drawBorder: false,
                                display: false,
                                drawOnChartArea: false,
                                drawTicks: false,
                                borderDash: [5, 5]
                            },
                            ticks: {
                                display: true,
                                color: '#f8f9fa',
                                padding: 10,
                                font: {
                                    size: 14,
                                    weight: 300,
                                    family: "Roboto",
                                    style: 'normal',
                                    lineHeight: 2
                                },
                            }
                        },
                    },
                },
            });</script>
        <script>
            var win = navigator.platform.indexOf('Win') > -1;
            if (win && document.querySelector('#sidenav-scrollbar')) {
                var options = {
                    damping: '0.5'
                }
                Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
            }</script>


        <!-- Github buttons -->
        <script async defer src="https://buttons.github.io/buttons.js"></script>
        <!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
        <script src="~/assets/js/material-dashboard.min.js?v=3.0.0"></script>
        <div class="col-12 justify-content-end">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
        <script src="~/assets/js/navbarwrapper.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="~/assets/js/layoutdropdowns.js"></script>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        @await RenderSectionAsync("Scripts", required: false)
    </div>

</body>
</html>
